<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-ligt" style="background-color: #e3f2fd;">
  <img class='logo' src="../../images/logo" alt='logo'>
  <a class='nav-item' href='/'>Sanctuary</a>
  <a class='nav-link aboutus' href='/aboutus'>About us</a>
  <a class='nav-link products' href='/products'>Products</a> 
  <a class='nav-link contact' href='/contact'>Contact Us</a>

</nav>  